
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img class="img img-fluid" src={{book.ImageUrl}} alt={{book.BookTitle}  width="160" height="250">
          </div>
          <div class="col-8">
            <h2 class="modal-book-title">{{ book.BookTitle }}</h2>
            <p>by {{ book.BookAuthor }}</p>
            <p>{{ showGenre() }}</p> 
            <p>{{ showBookDescription() }}</p>
          </div>
        </div>
      </div>
    </div>

